@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

html {
    height: 100%;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
    /* Height of the footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    background-color: #f8f9fa;
}

/* Utility class for page wrapper */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex-grow: 1;
}
